<!-- Rows Count Init. --><% rows, columns = 0 , 8 %>
<!-- Permission --><% delete = can?(:account, :delete) %>

<!-- Table Header -->
<table class="default">
  <tr>
    <!-- ID      --><th style="width: 5%"> <%= acc_sort "admin_accounts.id", "ID" %></th>
    <!-- Name    --><th style="width: 60%" class="align-left"> <%= acc_sort "admin_accounts.name", "Name" %></th>
    <!-- Users   --><th style="width: 25%"> Users </th>
    <!-- Users   --><th style="width: 10%"> <%= acc_sort "admin_accounts.deleted_at", 'Status' %> </th>
    <!-- Actions --><th style="width: 150px" colspan="4"> Actions </th>
  </tr>
  <!-- New Record Form -->
  <tr id="row-form-new" <% unless params[:errors].present? %> hidden="hidden" <% end %>class="row-form-form <%= 'error' if params[:errors].present? %>">
    <%= form_for @new_account, method: :post do |form| %>
      <!-- Row # --><td>#</td>
      <!-- Name   --> <td><%= form.text_field :name, :placeholder => 'Add New:', :class => 'input-field-table-column to-focus' %></td>
      <!-- Users  --> <td>0</td>
      <!-- Status-->  <td><i class='fas fa-check-circle acc-tag-status disabled'></i></td>
      <!-- Submit --> <td colspan="2" class="align-right"><button type='submit' name='Update' value='Update' class='action-icon row-form '><i class="fad fa-save fa-lg" title="Save"></i></button></td>
      <!-- Cancel --> <td colspan="2" class="align-left"><i class="fad fa-times-circle action-icon row-form cancel-table-row-form" title="Cancel"></i></td>
    <% end %>
  </tr>
<!-- Table Body and Rows Count -->
<% @accounts.each do |account| %><% rows = rows + 1 %>
    <!-- Quick Link to View -->
    <% link_to_path = account_path(:id => account.id, :from => params[:from], :from_id => params[:from_id]) %>
    <% error, updated, archived = params[:error_id] == account.id.to_s, params[:updated].to_i == account.id, account.deleted_at.present?  %>
    <% message = archived ? 'restore this Account?' : 'delete this Account? Users and Tags will be deleted.'  %>
    <tr id="field_record_<%= account.id %>" class="<%= cycle('odd', 'even') -%> row-form-field <%= 'updated' if updated %>" <%= "hidden='hidden'".html_safe if error %>>
      <!-- ID      --><td><%= row_link(account.id, false, link_to_path) %></td>
      <!-- Name    --><td class="align-left"><%= row_link(account.name, false, link_to_path) %></td>
      <!-- Users   --><td><%= row_link(account.users.count, false, link_to_path) %></td>
      <!-- Status  --><td><%= account_active_sign(account) %></td>
      <!-- Active Account Actions -->
      <% unless archived %>
      <!-- Edit    --><td><% if can?(:account, :update) %><i class="fad fa-pencil-alt action-icon row-form row-form-edit-field " rel="<%= account.id %>" title="Edit"></i><% end %></td>
      <!-- View    --><td><%= link_to account_path(:id => account.id) do %><i class="fad fa-search action-icon" title="View Details"></i><% end %></td>
      <!-- New Tab --><td><%= link_to account_path(:id => account.id), :target => "blank"  do %><i class="fad fa-external-link-alt action-icon" title="Open New Tab"></i><% end %></td>
      <% end %>
      <td <%= "colspan=4" if archived %>>
      <% if delete %><!-- Delete or Restore -->
        <%= link_to account_path(:id => account.id), data: {confirm: "Are you sure you want to #{message}"}, :method  => :delete do %>
          <i class="<%= message.first == 'r' ? 'fas fa-trash-undo-alt' :  'fad fa-trash' %> action-icon row-form" title="<%= message.first == 'r' ? 'Restore' : 'Delete' %>"></i>
        <% end %>
      <% end %>
      </td>
    </tr>
    <% unless archived %>
    <!-- Row Form Field -->
    <tr id="form_record_<%= account.id %>" <%= "hidden='hidden'".html_safe unless error %> class="row-form-form <%= 'error' if error %>">
      <%= form_for account, method: :put do |form| %>
        <!-- ID     --><td><%= account.id %><%= form.hidden_field :id %></td>
        <!-- Name   --><td><%= form.text_field :name, :value => error ? params[:name] : account.name, :class => 'input-field-table-column to-focus' %></td>
        <!-- Users  --><td><%= account.users.count %></td>
        <!-- Status --><td><%= account_active_sign(account) %></td>
        <!-- Submit --><td colspan="2" class="align-right"><button type='submit' name='Update' value='Update' class='action-icon row-form'><i class="fad fa-save fa-lg" title="Save"></i></button></td>
        <!-- Cancel Submit --><td colspan="2" class="align-left"><% if error %><%= link_to accounts_path do %><i class="fad fa-times-circle action-icon row-form cancel-table-row" title="Cancel"></i><% end %>
        <!-- Cancel Update --><% else %><i class="fad fa-times-circle action-icon row-form cancel-table-row-form" rel="<%= account.id %>" title="Cancel"></i></td><% end %>
      <% end %>
    </tr>
    <% end %>
  <% end %>
<!-- Index Bottom -->
<%= render 'layouts/search/index_bottom', :locals => {:showing => 'Account', :collection => @accounts.present?, :total => @total_accounts, :colspan => columns, :rows => rows, :rows_height => 38} %>
</table>