<!-- Rows Count Init. -->
<% rows, columns = 0 , 10 %>

<!-- Table Header and Tags Form-->
<table class="default">
<tr>
  <!-- Number     --> <th style="width:100px;"> <%= scn_sort "scenarios.number", "ID" %></th>
  <!-- Topic      --> <th style="width:25%;" class="align-left"> <%= scn_sort "scenarios.topic", "Topic" %></th>
  <!-- Synopsis   --> <th style="width:25%;" class="align-left"> <%= scn_sort "scenarios.synopsis", "Synopsis" %></th>
  <!-- Discipline --> <th style="width:14%"> <%= scn_sort "scenarios_station_types.code", "Discipline" %></th>
  <!-- Pred. Area --> <th style="width:22%;"> <%= scn_sort "scenarios_areas.description", "Pred.Area" %></th>
  <!-- System     --> <th style="width:14%;"> <%= scn_sort "common_systems.id", "System" %></th>
  <!-- Actions --><th style="width:105px" colspan="2"> Actions </th>
</tr>
<!-- Table Body and Rows Count -->
<% @showing.each do |scenario| %><% rows = rows + 1 %>
<!-- Quick Link to View -->
<% link_to_path = tags_object_account_path(:id => @account.id, :object_number => scenario.number, :object_type => 'Scenario') %>
<!-- Row -->
<tr class="<%= cycle('odd', 'even') -%>">
  <!-- Number     --> <td> <%= row_link(scenario.code, false , link_to_path) %> </td>
  <!-- Topic      --> <td class="align-left"> <%= row_link(scenario.topic.try(:titleize), false, link_to_path) %> <% if controller_path != 'scenarios' && scenario.status == 'archived' %> (Archived) <% end %> </td>
  <!-- Synopsis   --> <td class="align-left"><%= scenario.synopsis %></td>
  <!-- Discipline --> <td><%= row_link(scenario.discipline.try(:code),scenario.discipline.try(:name), link_to_path) %><%= scenario_extra_columns(scenario,true) unless params[:scenario_type].present? %></td>
  <!-- Areas Map  --> <td><%= row_link(scenario.areas.map(&:description).join(','), false, link_to_path) %></td>
  <!-- Systems    --> <td><%= row_link(scenario.systems.map(&:code).join(','), false, link_to_path) %></td>
  <!-- New Tab --> <td style="width:35px"><%= link_to link_to_path, :target => "blank" do %><i class="fad fa-external-link-alt action-icon" title="Open New Tab"></i><% end %> </td>
  <!-- Details --> <td style="width:35px"><%= link_to link_to_path do %><i class="fad fa-search action-icon" title="View Details"></i><% end %> </td>
</tr>
<% end %>
<!-- Index Bottom -->
<%= render 'layouts/search/index_bottom', :locals => {:showing => 'Scenario', :collection => @scenarios.present?, :total => @total_scenarios, :colspan => columns, :rows => rows, :rows_height => 38} %>
</table>