<!-- Title and Hide Search Toggle -->
<% content_for :title, "#{@account.name} #{params[:show].titleize} - External Account" %>
<%= search_header('fad fa-user-tag', "&nbsp; #{@account.name} #{params[:show].titleize} - <span> External Account </span>") %>
<% show_title = params[:show].singularize.titleize %>
  <!-- Search Tags or Users in Account  -->
  <%= render 'layouts/search/search', :locals => {
    :fields_search => accounts_search(params[:show]),
    :placeholder => account_search_placeholder(params[:show]),
    :url => account_path(@account, :show => params[:show], :tag_type => params[:tag_type])
  }%>

  <!-- Loading -->
  <%= render 'layouts/search/loading' %>
  <!-- Display -->
  <div id="search-results">
    <!-- Pagination and Display -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => show_title, :display => 'true', :paginate => @showing, :total => @total_showing} %>
    <!-- Tab Menu -->
    <%= render 'layouts/object/show_menu', :locals => {
      :selected => account_tabs(params[:show]),
      :attr => :show,
      :collection => account_tabs,
      :url => [:account],
      :params => {:show => params[:show]}
    }%>
    <!-- Showing -->
    <%= render params[:show] == 'tags' ? 'admin/accounts/partials/tags' : 'admin/users/partials/index' %>
    <!-- Bottom Pagination -->
    <%= render  'layouts/search/display_pagination', :locals => {:showing => show_title, :paginate => @showing, :total => @total_showing} %>
  </div>

<!-- Bottom Menu -->
<div id="menu-bottom">
  <ul>
  <% if can?(:account, :update) %>
    <li><% if params[:show] == 'tags' && params[:tag_type].present? %>
    <!-- New Tag --><a id='add-row-form-new' href="#row-form-new" <%= "style='display:none;'".html_safe if params[:errors].present? %>><i class="fas fa-file-plus fa-3x" title="New Account Tag"></i><br>New Account Tag</a><% else %>
    <!-- New User --><a id='add-row-form-new' href="#row-form-new"><i class="fas fa-file-plus fa-3x" title="Add User"></i><br> Add User </a><% end %>
    <% end %></li>
  <!-- Back to Accounts --><li><%= link_to accounts_path do %><i class="fas fa-chalkboard-teacher fa-3x" title="Back to Accounts"></i><br> Accounts <% end %> </li>
  </ul>
</div>