<!-- Rows Count Init. -->
<%= hidden_field_tag(:from, 'index') %>
<% rows = 0 %>

<!-- Table Header and Tags Form-->
<table class="default">
  <thead>
  <tr>
    <th style="width:20px;">#</th>
    <th style="width:50%" class="align-left"> <%= sub_cat_sort("sub_categories.name", "Name") %></th>
    <th style="width:50%"> <%= sub_cat_sort("categories.name", "Category") %>  </th>
    <th style="width:115px" colspan="2"> Actions </th>
  </tr>
  </thead>
  <!-- Search in Transactions -->
  <%= render 'config/sub_categories/partials/form', :locals => {:new => true} %>

  <!-- Table Body and Rows Count -->
  <% @sub_categories.each do |sub_category| %><% rows = rows + 1 %>
    <% error = params[:error_id] == sub_category.id.to_s %>
    <% updated = params[:updated].to_i == sub_category.id %>
    <tr id="field_record_<%= sub_category.id %>" class="<%= cycle('odd', 'even') -%> row-form-field <%= 'updated' if updated %>" <%= "hidden='hidden'".html_safe if error %>>
      <td> <%= rows %> </td>
      <td class="align-left"> <%= sub_category.name %> </td>
      <td> <%= sub_category.category.name %></td>
      <td><i class="fad fa-pencil-alt action-icon row-form-edit-field" rel="<%= sub_category.id %>" title="Edit"></i></td>
      <td><%= link_to sub_category_path(:id => sub_category.id), :class => 'delete-confirm', :method => :delete do %><i class="fas fa-trash action-icon" title="Delete"></i><% end %></td>
    </tr>
    <!-- Row Edit Form -->
    <%= render 'config/sub_categories/partials/form', :locals => { :category => sub_category, :error => error, :rows => rows} %>
<% end %>
  <!-- Index Bottom -->
  <%= render 'layouts/search/index_bottom', :locals => {:showing => 'Sub-Category', :collection => @sub_categories.present?, :total => @sub_categories.count, :colspan => 5, :rows => rows, :rows_height => 38} %>
</table>