<!-- Title and Hide Search Toggle -->
<% content_for :title, "Import File Tool" %>

<div id='workspace'>
  <!-- Transactions Search Header -->
  <%= search_header("fad fa-file-import", 'Import File Tool').html_safe %>

  <!-- Search in Reports -->
  <%= render 'layouts/search/search', :locals => {
    :fields_search => import_files_search,
    :help => 'Search in Imports.',
    :url => import_files_path(:per_page => params[:per_page]),
    :height => '100px'
  }%>

  <%= render 'layouts/search/loading' %>

  <!-- Display -->
  <div id="search-results">
    <!-- Pagination and Display -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Import File', :display => 'true', :paginate => @imports, :total => @total_imports} %>
    <!-- Index -->
    <%= render 'tools/import_files/partials/index' %>
    <!-- Bottom Pagination -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Import File', :paginate => @imports, :total => @total_imports} %>
  </div>

</div>

<!-- Bottom Menu -->
<div id="menu-bottom">
  <ul>
    <!-- Back Dashboard -->  <li> <%= link_to root_path do %><i class="fad fa-analytics fa-3x dashboard" title="Back to Dashboard"></i><br>Dashboard<% end %></li>
  </ul>
</div>r