<!-- Title and Hide Search Toggle -->
<% content_for :title, "Accounts" %>

<div id='workspace'>
  <!-- Transactions Search Header -->
  <%= search_header("fad fa-address-book", 'Accounts').html_safe %>

  <!-- Search in  Accounts -->
  <%= render 'layouts/search/search', :locals => {
    :fields_search => accounts_search,
    :help => 'Search in Accounts.',
    :url => accounts_path(:per_page => params[:per_page]),
    :height => '110px'
  }%>

  <%= render 'layouts/search/loading' %>

  <!-- Display -->
  <div id="search-results">
    <!-- Pagination and Display -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Account', :display => 'true', :paginate => @accounts, :total => @total_accounts} %>
    <!-- Index -->
    <%= render 'config/accounts/partials/index' %>
    <!-- Bottom Pagination -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Account', :paginate => @accounts, :total => @total_accounts} %>
  </div>

</div>

<!-- Bottom Menu -->
<div id="menu-bottom">
  <ul>
    <!-- New Account --><li><a id='add-row-form-new' href="#row-form-new"><i class="fad fa-plus-circle fa-3x new-icon" title="New Account"></i><br> New </a> </li>
    <!-- Back Dashboard -->  <li> <%= link_to root_path do %><i class="fad fa-analytics fa-3x dashboard" title="Back to Dashboard"></i><br>Dashboard<% end %></li>
  </ul>
</div>