<!-- Rows Count Init. -->
<%= hidden_field_tag(:from, 'index') %>
<% rows = 0 %>

<!-- Table Header and Tags Form-->
<table class="default">
  <thead>
  <tr>
    <th style="width:20px;">#</th>
    <th style="width:98%" class="align-left"> <%= import_sort("imports.name","Name") %></th>
    <th style="width:95px" colspan="1"> Actions </th>
  </tr>
  </thead>

  <!-- Table Body and Rows Count -->
  <% @imports.each do |import_file| %><% rows +=1%>
    <tr class="<%= cycle('odd', 'even') -%>">
      <td> <%= rows %> </td>
      <td class="align-left"> <%= import_file.name %></td>
      <td><%= link_to new_import_file_path(:id => import_file.id) do %><i class="fad fa-search action-icon" title="Create Import File"></i><% end %> </td>
    </tr>
  <% end %>

  <!-- Index Bottom -->
  <%= render 'layouts/search/index_bottom', :locals => {:showing => 'Report', :collection => @imports.present?, :total => @imports.count, :colspan => 3, :rows => rows, :rows_height => 38} %>
</table>

