<!-- Title and Hide Search Toggle -->
<% content_for :title, "Categories" %>

<div id='workspace'>
  <!-- Transactions Search Header -->
  <%= search_header("fad fa-folders", 'Categories').html_safe %>

  <!-- Search in Categories -->
  <%= render 'layouts/search/search', :locals => {
    :fields_search => categories_search,
    :help => 'Search in Categories.',
    :url => categories_path(:per_page => params[:per_page]),
    :height => '110px'
  }%>


  <%= render 'layouts/search/loading' %>

  <!-- Display -->
  <div id="search-results">
    <!-- Pagination and Display -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Category', :display => 'true', :paginate => @categories, :total => @total_categories} %>
    <!-- Index -->
    <%= render 'config/categories/partials/index' %>
    <!-- Bottom Pagination -->
    <%= render 'layouts/search/display_pagination', :locals => {:showing => 'Category', :paginate => @categories, :total => @total_categories} %>
  </div>

</div>

<!-- Bottom Menu -->
<div id="menu-bottom">
  <ul>
    <!-- New Category --><li><a id='add-row-form-new' href="#row-form-new"><i class="fad fa-plus-circle fa-3x new-icon" title="New Category"></i><br> New </a> </li>
    <!-- Back Dashboard -->  <li> <%= link_to root_path do %><i class="fad fa-analytics fa-3x dashboard" title="Back to Dashboard"></i><br>Dashboard<% end %></li>
  </ul>
</div>