<!-- Rows Count Init. -->
<%= hidden_field_tag(:from, 'index') %>
<% rows = 0 %>

<!-- Table Header and Tags Form-->
<table class="default">
  <thead>
  <tr>
    <th style="width:20px;">#</th>
    <th style="width:15%"> <%= schedulers_sort("accounts.name", "Account") %> </th>
    <th style="width:15%"> <%= schedulers_sort("scheduler_types.name", "Type") %> </th>
    <th style="width:15%" class="align-left"> <%= schedulers_sort("bank_accounts.description", "Description") %> </th>
    <th style="width:15%"> <%= schedulers_sort("schedulers.split", "Split") %> / <%= schedulers_sort("schedulers.period", "Period") %></th>
    <th style="width:5%"> Repeat </th>
    <th style="width:15%"> <%= schedulers_sort("schedulers.amount", "Amount") %> </th>
    <th style="width:10%"> <%= schedulers_sort("scheduler_items.created_at", "Date") %> </th>
    <th style="width:115px" colspan="3"> Actions </th>
  </tr>
  </thead>

  <!-- Form -->
  <%= render 'schedulers/partials/items/form', :locals => {:new => true} %>

  <!-- Table Body and Rows Count -->
  <% @items.each do |item| %><% rows +=1%>
    <% error = params[:error_id] == item.id.to_s %>
    <% updated = params[:updated].to_i == item.id %>
    <tr id="field_record_<%= item.id %>" class="<%= cycle('odd', 'even') -%> row-form-field <%= 'updated' if item.payment.present? %>" <%= "hidden='hidden'".html_safe if error %>>
      <td> <%= rows %> </td>
      <td class="align-left">  <%= @scheduler.account.name %> </td>
      <td> <%= @scheduler.scheduler_type.name %></td>
      <td> <%= @scheduler.description %> </td>
      <td> <%= @scheduler.type_description %></td>
      <td> <%= item.scheduler_position %></td>
      <td> <%= number_to_currency(item.amount) %> </td>
      <td> <%= default_date(item.created_at) %> </td>
      <td>
        <% if item.transaction_id.present? %>
          <% else %>
          <%= link_to scheduler_pay_path(:scheduler_id => @scheduler.id, :item_id => item.id) do %><i class="fad fa-check-circle <%= @scheduler.type_name %> action-icon" title="Pay Bill"></i><% end %> </td>
        <% end %>
      <td><i class="fad fa-pencil-alt action-icon row-form-edit-field" rel="<%= item.id %>" title="Edit"></i></td>
      <td><%= link_to scheduler_scheduler_item_path(:scheduler_id => @scheduler.id, :item_id => item.id) , :class => 'delete-confirm', :method => :delete do %><i class="fas fa-trash action-icon" title="Delete"></i><% end %></td>
    </tr>
    <!-- Row Edit Form -->
    <%= render 'schedulers/partials/items/form', :locals => { :item => item, :error => error, :rows => rows} %>

<% end %>
  <!-- Index Bottom -->
  <%= render 'layouts/search/index_bottom', :locals => {:showing => 'Payment Item', :collection => @items.present?, :total => @items.count, :colspan => 12, :rows => rows, :rows_height => 38} %>
</table>