<div id="sidebar">
  <!-- Export -->

  <!-- Bank Accounts -->
  <h1>Bank Accounts</h1>
    <% @currencies.each do |currency| %>
      <!-- Currency -->
      <h2><%= [currency.name,' (', currency.code,')'].join %></h2>
      <% accounts = @bank_accounts.currency_id(currency.id);  account_types = accounts.collect{|x| x.account_type}.uniq %>
      <!-- Account Types -->
      <% currency_total = 0 %>
      <% account_types.each do |account_type| %>
        <h3><%= ['Cash','Everyday', 'Savings', 'Investment', 'Credit Card','System'][account_type - 1]%> | <i class="fad <%= account_type_icon(account_type) %>"></i></h3>
        <% accounts.where(account_type:account_type).order(:name).each do |bank| %>
          <!-- Accounts -->
          <%= link_to transactions_path(bank_account_id: bank.id) do %>
            <div class="bank-acc <%= 'selected' if bank.id == @bank_account.try(:id) %>">
            <div class="bank-acc-name"><%= bank.name %>  </div>
            <div class="bank-acc-total <%= 'selected' if bank.id == @bank_account.try(:id) %> <%= bank.total_status %>"><%= number_to_currency(bank.total, negative_format: "(%u%n)") %></div>
            <% currency_total = currency_total + bank.total(true) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <div class="currency-dash">
        <div class="currency-name">Total <%= currency.code %></div>
        <div class="currency-total"><%= number_to_currency(currency_total, negative_format: "(%u%n)") %></div>
      </div>
    <% end %>
  <h3>Export Options</h3>
  <div id="export-bar" >
    <%= link_to export_transactions_path(format:'csv', bank_account_id: params[:bank_account_id], period:params[:period]), title:'Export to CSV', class: 'export-file' do %><i class="fad fa-file-spreadsheet csv"></i><% end %>
  </div>
</div>