<% content_for :title,  "MCQ Question #{@older.number} - Compare Version #{@older.version} with #{@newer.version}" %>
<table style="width: 100%;" class="compare-objects">

<!-- Header and Select -->
<% if locals[:change] %>


<% else %>
<!-- Version Header -->
  <tr>
  <!-- Older  --><td class="compare-column"><div class="select-version"><h1><%= link_to ['Version', @older.version].join(" "), question_path(:id => @older.id) %></h1>
  <%= select_tag("older_version", options_for_select(@older.versions.where("questions.version < ?",@newer.version).collect {|x| ["Version #{x.version}", x.id]}, @older.id), :class => "select-version-input question") %><br>
  <%= "Updated by #{@older.updater} on #{@older.created_at.in_time_zone('Canberra').to_s(:short_dmy_with_time)}" %></div></td>

  <!-- Divide --><td class="divider" rowspan="20" style="width: 5%;"></td>


  </tr>
<% end %>
<!-- Status -->
  <tr><% [@older,@newer].each do |question| %>
    <% status = question.status %><td class="compare-column"><div class="view-status" style="<%= status_style(status) %>">
    <span style="font-size: 20px;"> <b><%= question.number %> |</b> </span> <%= status_to_string(status) %></div></td><% end %>
  </tr>

<!-- Topic -->
  <% topic_diff = raw(Question.diff(@older.topic, @newer.topic)) %>
  <tr><% [@older,@newer].each do |question| %><td class="compare-column <%= cycle('older','newer') %>"><div class="view-topic"><%= topic_diff %></div></td><% end %></tr>

<!-- Show Stem -->
  <% stem_diff = raw(Question.diff(@older.stem, @newer.stem)) %>
  <tr><% [@older,@newer].each do %><td class="compare-column <%= cycle('older','newer') %>"><div class="show-stem compare"><%= stem_diff %></div></td><% end %></tr>

<!-- Show Responses -->
  <tr><% [@older,@newer].each do %><td>
    <table class="show-responses compare">
      <% @older.responses.each_with_index do |response, numb| %><% num = numb + 1 %>
      <% resp_diff = raw(Question.diff(@older.send("response_#{num}"), @newer.send("response_#{num}"))) %>
      <tr class="older"><th <%= correct_resp(@older,num) %>><%= num%></th><td <%= correct_resp(@older,num) %>><%= resp_diff %></td></tr>
      <% end %>
    </table>
  </td><% end %></tr>

<!-- Classifications -->
  <tr>
    <% [@older,@newer].each do |question| %>
      <td class="<%= cycle('older','newer') %>">
        <h2> Classifications and Other Details </h2>
        <table class="field-row compare">
          <tr <%= compare_field('patient_group') %>><th>Patient Group</th><td><%= classification_name_for(question.patient_group) %></td></tr>
          <tr <%= compare_field('function') %>><th>Function</th><td><%= classification_name_for(question.function) %></td></tr>
          <tr <%= compare_field('clinician_task') %>><th>Clinician Task</th><td><%= classification_name_for(question.clinician_task) %></td></tr>
          <tr <%= compare_field('system') %>><th>System</th><td><%= classification_name_for(question.system) %></td></tr>
          <tr <%= compare_field('discipline') %>><th>Discipline</th><td><%= classification_name_for(question.discipline) %></td></tr>
          <tr <%= compare_field('workshop_type') %>><th>Workshop Type</th><td><%= classification_name_for(question.workshop_type) %></td></tr>
          <tr <%= compare_field('anthology_reference') %>><th>Anthology</th><td><%= classification_name_for(question.anthology_reference) %></td></tr>
          <tr <%= compare_field('anthology_leo_reference') %>><th>LEO</th><td><%= classification_name_for(question.anthology_leo_reference) %></td></tr>
          <tr <%= compare_field('legacy_mastery') %>><th>Mastery</th><td><%= question.legacy_mastery %></td></tr>
          <tr <%= compare_field('legacy_source') %>><th>Source</th><td><%= question.legacy_source %></td></tr>
        </table>
      </td>
    <% end %>
  </tr>


<!-- bottom border -->
  <tr><td style="border-bottom: solid 1px #666666"></td><td style="border-bottom: solid 1px #666666"></td></tr>
  </table>
</div>

<!-- Bottom Menu -->
  <div id="menu-bottom">
    <ul>
      <% if @newer.version - @older.version == 1 %>
        <!-- Previous --><% if @older.previous_version.present? %><li> <%= link_to compare_question_path(:id => @older.previous_version.id, :with => @newer.previous_version.id) do %><i class="fas fa-backward fa-3x" title="Previous"></i><br>Previous<% end %> </li><% end %>
        <!-- Next     --><% if @newer.next_version.present? %><li> <%= link_to compare_question_path(:id => @newer.id, :with => @newer.next_version.id) do %><i class="fas fa-forward fa-3x" title="Next"></i><br>Next<% end %> </li><% end %>
      <% end %>
      <!-- Back to Scenario --><li> <%= link_to question_path(:id => @older.id) do %><i class="fas fa-arrow-alt-left fa-3x" title="Back to Scenario"></i><br>Back to Question<% end %> </li>
    </ul>
  </div>
</div>