<div class="navbar">
  <% nav = @current_user.navbar %>
  <!-- User Management -->
  <div class="dropdown">
    <button class="dropbtn"><%= link_to user_path(@current_user), :class => 'quick-btn loading' do %><i class="user-initials" title="User Management"><%= @current_user.initials %></i><% end %></button>
    <div class="dropdown-content"><div class="dropdown-title">User Management</div>
      <!-- My User --> <%= link_to user_path(@current_user) do %><i class="fad fa-user"></i> &nbsp; <%= @current_user.name %><% end %>
      <!-- Dashboard --> <%= link_to dashboard_path do %><i class="fad fa-chalkboard"></i>&nbsp; Dashboard <% end %>
      <!-- Access Rules --><% if nav[:rule][:read] %><%= link_to rules_path do %><i class="fad fa-user-lock"></i> &nbsp; Access Rules<% end %><% end %>
      <!-- Users --><% if nav[:user][:read] %><%= link_to users_path do %><i class="fad fa-users"></i> &nbsp; Users <% end %><% end %>
      <!-- Logout --> <%= link_to logout_path, :method => :delete do %><i class="fad fa-sign-out-alt"></i> &nbsp; Logout <% end %>
    </div>
  </div>

  <!-- Transactions -->
    <div class="dropdown">
      <button class="dropbtn"><%= link_to transactions_path, :class => 'quick-btn loading' do %><i class="fad fa-exchange" title="Transactions"></i><% end %></button>
      <div class="dropdown-content"><div class="dropdown-title">Transactions</div>
        <!-- Transactions --><% if nav[:transaction][:search] %><%= link_to transactions_path, :class => 'loading' do %><i class="fad fa-exchange"></i> &nbsp; All Transactions <% end %><% end %>
        <!-- Schedulers   --><% if nav[:scheduler][:search] %><%= link_to schedulers_path, :class => 'loading' do %><i class="fad fa-calendar-alt"></i> &nbsp; Scheduled Bills <% end %><% end %>
        <!-- Reports --><% if nav[:report][:search] %><%= link_to reports_path, :class => 'loading' do %><i class="fad fa-analytics"></i> &nbsp; Reports <% end %><% end %>
      </div>
    </div>

  <div class="dropdown">
    <button class="dropbtn"><i class="fad fa-cog" title="Configuration"></i></button>
    <div class="dropdown-content"><div class="dropdown-title">Configuration</div>
    <!-- Bank Accounts --><% if nav[:bank_account][:search] %><%= link_to bank_accounts_path, :class => 'loading' do %><i class="fad fa-sack-dollar"></i> &nbsp; Bank Accounts<% end %><% end %>
    <!-- Accounts --><% if nav[:account][:search] %><%= link_to accounts_path, :class => 'loading' do %><i class="fad fa-address-book"></i> &nbsp; Accounts <% end %><% end %>
    <!-- Categories -->
    <% if nav[:category][:search] %>
      <%= link_to categories_path, :class => 'loading' do %><i class="fad fa-folders"></i> &nbsp; Categories <% end %>
      <%= link_to sub_categories_path , :class => 'loading' do %><i class="fad fa-folder-tree"></i> &nbsp; Sub-Categories <% end %>
    <% end %>
    <!-- Currencies --><% if nav[:currency][:search] %><%= link_to currencies_path, :class => 'loading' do %><i class="fad fa-usd-circle"></i> &nbsp; Currencies <% end %><% end %>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn"><i class="fad fa-toolbox" title="Tools"></i></button>
    <div class="dropdown-content"><div class="dropdown-title"> Tools </div>
    <!-- File Importer --><% if nav[:import_file][:search] %><%= link_to import_files_path, :class => 'loading' do %><i class="fad fa-file-import"> </i> &nbsp; Import Files <% end %><% end %>
    </div>
  </div>

  <!-- Piggy Logo -->
  <div id="logo"><%= link_to(image_tag('logo.png', :height => "43px"), dashboard_path, title: "View Dashboard") %></div>

</div>

