<html>

  <title><%= yield(:title) %> | My Piggy Bank </title>

<%= stylesheet_link_tag "//fonts.googleapis.com/css?family=Raleway", 'reports.css', 'transactions.css', 'sidebar.css','navbar.css','jquery/jquery-ui.custom.css', 'jquery/jquery.multiselect.css','layout', '/fontawesome/all.css', 'indexes', 'search', 'menus'  %>
<%= javascript_include_tag "application", "https://www.gstatic.com/charts/loader.js" %>
<%= favicon_link_tag "favicon.ico" %> 

  <body>
    <!-- Top Anchor -->
    <div id="top-anchor"></div>

    <!-- Navbar -->
    <div id="navbar-flash">
      <!-- <div id="show-env" class="<%= Rails.env %> shadow"><%= Rails.env.titleize %></div> -->
      <%= render 'layouts/navbar' %>
      <%= render 'layouts/flash_messages' %>
    </div>

    <div id="main-workspace">
    <!-- Views -->
    <%= yield %>
    </div>

    <!-- bottom Anchor -->
  <div id="bottom-anchor"></div>
  </body>
</html>
